<h2>Tareas</h2>
<p>Ejemplo de provider o Servicio para hacer un CRUD completo, contra un servicio Rest.</p>

<div class="box">
    <div class="minibox">
        <h3>Crear nueva tarea</h3>
            <div class="col">
                <div class="añadir">
                    <input type="text"[(ngModel)]="tituloNuevo">
                    <button (click)="nuevaTarea()">Crear nueva tarea</button>
                </div>
                <div class="listado">
                    <ul>
                        <li *ngFor = "let tarea  of tareas">
                            <div class="row">
                                <div class="col-1">
                                    <input type="checkbox" [checked]="tarea.completada" (click)="editarEstado(tarea)">
                                </div>
                                <div class="col-1 text-white">
                                    <b>{{tarea.id}}:</b>
                                </div>
                                <div class="col-8 font-weight-bold">
                                    <span class ="titulo {{(tarea.completada)?'completada':'no_completada'}}">{{tarea.titulo}}</span>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="boton btn" (click)="eliminarTarea(tarea)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>



