<h1>SASS</h1>

<p>Sass es un precomilador de CSS y soporta 2 formatos <code>.sass</code> y <code>.scss</code> y nos genera un <code>.css</code></p>
<p>Vamos a usar el formato <code>.scss</code> porque es el mas sencillo para aprender, puesto que soporta que escribamos en <code>.css</code></p>
<p>Enlace para ir a la pagina oficial de sass <a href="https://sass-lang.com/">Pagina Oficial SASS</a></p>
<p>existen otros compiladores como <code>LESS</code> y <code>STYLUS</code> pero no los vamos a usar</p>
<span class="borde10">Ejemplo span 1</span>
<span class="borde50">Ejemplo span 2</span>
<button class="boton boton-verde">Aceptar</button>
<button class="boton boton-rojo">Cancelar</button>